################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/GestionStock/obj/Release
/SiteWeb/obj/Debug/net6.0
/GestionStock
