@*@{
    Layout = "_Layout";
}*@

<section class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-4">
@*    @Component.InvokeAsync("ProduitList")*@
    @await Component.InvokeAsync("ProduitList")
</section>