<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteWeb.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column justify-content-between m-0 vh-100">
    <div class="container-fluid d-flex flex-column flex-grow-1 p-0">
        <div class="row m-0 w-100">
            <header class="col-12 p-0 sticky-top">
                <script src="https://kit.fontawesome.com/3fb4577f81.js" crossorigin="anonymous"></script>
                @*NAVBAR*@
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="/contents/logo-negosud.svg" alt="Negosud" width="285px" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                            </ul>
                            <div class="d-flex">
                                <partial name="_LoginPartial" />
                            </div>
                            <div class="d-flex">
                                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i> </a>
                            </div>
                            <div class="d-block" style="color:red;">
                                <div id="nbPrdPanier"></div>
                            </div>

                        </div>
                    </div>
                </nav>
            </header>
        </div>




        @*CONTENT*@
        @RenderBody()

    </div>


    <footer class="text-center border-top footer text-muted">
        <div class="text-center p-4" style="background-color:#f3f3f3;">
            &copy; 2022 - SiteWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
        $(document).ready(function () {
            // gérer des events et actions au chargement de la page
            LayoutView.InitPage();
        });
</script>