<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SiteWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteWeb.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column justify-content-between m-0 vh-100">
    <div class="container-fluid d-flex flex-column flex-grow-1 p-0">
        <div class="row m-0 w-100">
            <header class="col-12 p-0 sticky-top">
                <script src="https://kit.fontawesome.com/3fb4577f81.js" crossorigin="anonymous"></script>
                @*NAVBAR*@
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="/contents/logo-negosud.svg" alt="Negosud" width="285px" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                            </ul>
                            <div class="d-flex">
                                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i> </a>
                            </div>       
                            <div class="d-flex">
                                <a class="nav-link" href="#"><i class="fa-solid fa-user"></i> </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>

        <div class="row m-0 w-100 flex-grow-mobile">
            <div class="col-12 col-md-3 col-lg-2 d-flex justify-content-center p-0">

                <div class="accordion w-100 h-100" id="accordionPanelsStayOpen">
                    <div class="accordion-item flex-grow-1 h-100">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                Filtres
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body p-0">

                                @**SIDEBAR FOR FILTERS*@
                                <div class="d-flex flex-column flex-shrink-0 m-0 px-4">

                                    @**RADIOS FOR TYPES OF WINES*@
                                    <label class="p-0 fw-bold"> Types de vins : </label>


                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Blanc
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Rouge
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Rosé
                                        </label>
                                    </div>


                                    @**CHECKBOX FOR WINE HOUSE*@
                                    <label class="p-0 fw-bold"> Maisons de vins : </label>

                                    @**BORDEAUX*@
                                    <label class="p-0 fw-bold ps-4"> Bordeaux </label>

                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Bordeaux
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Barsac
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Blaye
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Côtes de Bourg
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Saint-Estèphe
                                        </label>
                                    </div>

                                    @**LANGUEDOC*@
                                    <label class="p-0 fw-bold ps-4"> Languedoc </label>

                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Coteaux du Languedoc
                                        </label>
                                    </div>

                                    @**LOIRE*@
                                    <label class="p-0 fw-bold ps-4"> Loire </label>

                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Anjou
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Cheverny
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Sancerre
                                        </label>
                                    </div>

                                    @**PROVENCE*@
                                    <label class="p-0 fw-bold ps-4"> Provence </label>

                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Bandol
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Cassis
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Côtes de Provence
                                        </label>
                                    </div>

                                    @**RHÔNE*@
                                    <label class="p-0 fw-bold ps-4"> Rhône </label>

                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Châteauneuf du Pape
                                        </label>
                                    </div>
                                    <div class="form-check ps-5">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Clairette de Die
                                        </label>
                                    </div>

                                    @**MIN AND MAX PRICE*@
                                    <label class="p-0 fw-bold"> Prix : </label>

                                    <div class="row d-flex justify-content-center p-0 gap-3">
                                        <div class="col-md-5 mt-3 text-center p-0">
                                            <div class="form-outline">
                                                <input type="number" id="typeNumber" class="form-control active" value="0">
                                                <label class="form-label" for="typeNumber" style="margin-left: 0px;">Minimum</label>
                                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 61.6px;"></div><div class="form-notch-trailing"></div></div>
                                            </div>
                                        </div>

                                        <div class="col-md-5 mt-3 text-center p-0">
                                            <div class="form-outline">
                                                <input type="number" id="typeNumber2" class="form-control active" value="8000">
                                                <label class="form-label" for="typeNumber2" style="margin-left: 0px;">Maximum</label>
                                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            @*CONTENT*@
            <div class="col-12 col-md-9 col-lg-10 p-4">
                @RenderBody()
            </div>

        </div>
    </div>


    <footer class="text-center border-top footer text-muted">
        <div class="text-center p-4" style="background-color:#f3f3f3;">
            &copy; 2022 - SiteWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
